<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>User ID:</b>
  <%=h @user.id %>
</p>

<p>
  <b>Pictures:</b><br />
<% @user.pictures.each do |pic| %>
Picture #<%= pic.id %>:   <a href = "<%= pic.url %>"><img src = <%= pic.url %> Width = "200" Height = "200" <target="_blank"></img></a>

<% end %>
<%= link_to 'Add Picture', new_picture_path %>
</p>

<p>
  <b>Timebank Account:</b>
  <% if @user.account %>
    <%= @user.account.time %> hours
  <% else %>
    <%= link_to 'New Account', new_account_path %>
  <% end %>
</p>

<p>
  <b>Sklls:</b><br />
<% @user.skills.each do |skill| %>
  <%= skill.name %> <br />
<% end %>
  <%= link_to 'Add Skill', new_skill_path %>
</p>


<%= link_to 'Edit', edit_profile_path %>
