
<h1 style="font-family:'Bradley Hand ITC';color:silver;margin-left:20px;"><u>LIST YOUR</u> </h1>
 <img src="http://us.123rf.com/400wm/400/400/iqoncept/iqoncept1109/iqoncept110900137/10739770-learn-new-skills-word-on-chalkboard-encouragement-to-take-training-course-to-improve-yourself-and-su.jpg" height="200" width="200"/>

<table>
  <tr>
    <th></th> 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skills.each do |skill| %>
  <tr><td>
   <ul>
<li><%= skill.name %></li>
</ul></td>

    <td><%= link_to 'Show', skill %></td>
    <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
    <td><%= link_to 'Delete', skill, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1> <%= link_to 'here', new_skill_path %> </h1>
