<p id="notice"><%= notice %></p>

<p>
  <b>Skill:</b>
  <%= @skill.name %>
</p>
<p><b>Description:</b>
<%= @skill.description %>
</p>
<p>
<img src="<%= @skill.picture %>"></img>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
