<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @picture.type %>
</p>

<p>
  <b>Url:</b>
  <img src = "<%= @picture.url %> Width = "200" Height = "200"</img>
</p>
 
<p>
  <b>Width:</b>
  <%= @picture.width %>
</p>

<p>
  <b>Height:</b>
  <%= @picture.height %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user_id %>
</p>




<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', profile_path %>
